<div>
<h1>Home</h1>
    <%if @user%>
            <div class=" mt-3">
               Welcome <%= @user.name%>
            </div> 
            <%= button_to "logout" , logout_path , method: :delete , class: "btn btn-primary mt-3"%>
    <% end%>
</div>